<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<nav>
    <%- include('../partials/navbar'); %>
</nav>

<main>
    <div class="bg-info">
    <div class="container ">
        <h1 class="text-white">Dashboard</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active text-dark" aria-current="page">Dashboard</li>
            </ol>
        </nav>  
    </div>
    <div class="container">
        <div class="row row mt-2 row-cols-1 row-cols-md-3 g-4 ">
            <div class="col-7 d-flex align-items-center mb-4">
                <div class="card" style="width: 23rem;">
                    <div class="numbers">
                        <div class="card-body">
                         <p class="font-weight-bold">Kas Masuk</p>
                         <h4 class="card-title">Rp. 0,00 </h4>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-7 d-flex align-items-center mb-4">
                <div class="card bg-light" style="width: 23rem;">
                    <div class="numbers">
                        <div class="card-body">
                            <p class="font-weight-bold">Kas Keluar</p>
                            <h4 class="card-title">Rp. 0,00 </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7 d-flex align-items-center mb-4">
                <div class="card bg-light" style="width: 23rem;">
                    <div class="numbers">
                        <div class="card-body">
                            <p class="font-weight-bold">Saldo</p>
                            <h4 class="card-title">Rp. 5.000.000,00 </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </div>
    <div class="bg-light">
        <div class="container text-bold">
            <br>
            <h4 class="text-center">History</h4>
            <div class="card mt-3">
                <div class="card-body mb-5">
                    <br>
                    <br>
                </div>
                <br>
            </div>
            <br>
            <br>
            
        </div>
    </div>

    </div>
    </div>
    </div>
</main>

</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>