<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<nav>
    <%- include('../partials/navbar'); %>
</nav>

<main>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="text-center">Pilih transaksi</h1>
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transaksi Masuk</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="kas-masuk" class="btn btn-primary">Buat Transaksi Masuk</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transaksi Keluar</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/kas-keluar" class="btn btn-primary">Buat Transaksi Keluar</a>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>

</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>